html { 
  background: url("/images/HD Wallpaper 3.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1
{
color:orange;
text-align:left;
}
p
{
font-family:"Times New Roman";
font-size:20px;
color:yellow;
}

